.main-footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: #F6F8F9;
    color: #54565A;
    align-items: center;
    padding: 1% 0 1% 0;
}

.footer-left {
    width: 31%;
    display: flex;
    align-items: center;
    margin-left: 19%
}

.footer-left a {
    text-decoration: none;
    font-family: 'AirbnbCerealBold';
    padding-right: 5%;
    color: #54565A;
    font-size: 70%;
}

.footer-right {
    display: flex;
    width: 28%;
    align-items: center;
    margin-right: 22%;
    justify-content: flex-end;
}

.footer-right p {
     font-family: 'AirbnbCerealMedium';
     font-size: 70%;
     padding-right: 5%;
}

.footer-right i {
    padding-left: 3%;
}