.main-header-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    padding: 2% 0;
    /* background: #3c82f0; */
}

.header-solid {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    padding: 2% 0;
    background: #3c82f0;
    z-index: 10;
}

.header-left, .header-right {
    width: 50%;
    display: flex;
    align-items: center;
}

.header-left {
    margin-left: 20%;
}

.header-right {
    margin-right: 20%;
    justify-content: flex-end;
}

.main-logo {
    width: 22%;
    
}

.nav-link {
    text-decoration: none;
    color: #fff;
    margin-right: 10%;
    font-family: 'AirbnbCerealExtraBold';
    font-size: 80%;
}